.navbar {
    position: fixed;
    width: 100%;
    z-index: 100;
}


.navbar, .footer {
    font-family: 'Ubuntu';
}

.navbar-brand {
    font-family: 'Oswald';
    font-weight: 400;
    font-size: 37px;
}

.bg-violet {
    background-color: #660066;

}


.yo {
    text-align:center;
        
    background-image: url(../img/yo.jpg);
    background-repeat: no-repeat;    
    background-size: contain;
    background-position: center;
    padding-top: 7em;
    color: white;
    font-family: 'Oswald';;
    font-weight: 200;
    font-size: 5vh;
    
    /*margin:0px;*/
}

.yo hr {
    width: 25%;
    background-color: white;
    height: 3px;
    border: white;
    
}
.yo h1 {
    font-family: 'Oswald';;
    font-weight: bold;
    font-size: 5vh;
}

.medio h1 {
    font-family: 'Ubuntu';
    font-size: 3vh;
    line-height :2em;
    text-align: center;
    font-weight: 700;
}
.medio p {
    font-family: 'Ubuntu';
    font-size: 2vh;
    line-height :2em;
    font-weight: normal;

}

.experiencia, .trabajos, .contacto {
    font-family: 'Oswald';
    text-align: center;
}

.experiencia h1, .trabajos h1, .contacto h1{
    font-family: 'Oswald';
    font-weight: bold;
    font-size: 5vh;
    

}

.experiencia hr, .contacto hr, .medio hr{
    width: 25%;
    background-color: black;
    height: 3px;
    border: white;
}

.experiencia img{
    height: 217px;
    display: inline-block;
}

.experiencia p {
    font-weight: 200;
    font-size: 25px;
}

.trabajos h1 {
    color:white;
}

.trabajos hr {
    width: 20%;
    background-color: white;
    height: 3px;
    border: white;
}

.trabajos p {
    text-align: left;
    font-family: 'Ubuntu';
    font-size: 2vh;
    line-height :2em;
    font-weight: normal;
}


.footer {
    height: 218px;
    padding-top: 2em;;
}

.footer h2{
    font-family: 'Oswald';
    font-weight: BOLD;
    font-size: 37px;
    text-align: center;
}

footer i {
    margin: 0 0.10em 0.5em 0.10em;
    
}
  

.footer a {
    color: white;
    text-decoration: none;
}

